/**** main.scss ****/
$header-font: 'Press Start 2P', cursive;

ol, ul {
	list-style: none;
}
nav {
	li {
		display: inline-block;
		margin-right: 20px;
	}
	a {
		text-decoration: none;
	}
}
body {
	text-align: center;
}
h1 {
	font-family: $header-font;
}
.features {
	img {
		width: 90%;
		@media screen and (min-width: 500px) {
			width: 300px;
		}
	}
	ul {
		padding-left: 0;
	}
	li {
		@media screen and (min-width: 750px) {
			display: inline-block;
			padding: 25px 10px 0 10px;
		}
	}
	p {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.call-to-action {
	margin: 25px 0;
	button {
		padding: 10px 50px;
	}
}
footer {
	font-size: .812em;
	a {
		text-decoration: none;
	}
}
